.posts-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 2% 15%;
    height: calc(100% - 10vh);
}

@media (min-width:300px) and (max-width: 730px) {
    .posts-page {
        padding: 2% 8%;
    }
}