.comment-form-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 2%;
    padding: 2% 15%;
}

.comment-form{
    margin-top: 5%;
    width: 100%;
}

@media (min-width:320px) and (max-width: 730px) {
    .comment-form-div {
        font-size: small;
    }

    .comment-form-div {
        padding: 2% 8%;
    }
}