:root {
  --linear: linear-gradient(to right, #9d50bb, #6e48aa);
  --white: #f7f5fb;
  --title-post: #9d50bb;
  --date-post: #313131;
  --text-post: #6b6b6b;
  --details: #7d4cdb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.menu-hamburguer {
  display: none;
}
